.container{
    display: flex;
    /*flex-direction: row;*/
    /* flex-direction: row-reverse; */
    /* flex-direction: column;   */
    /* flex-direction: column-reverse;  */
    /* justify-content: start; */
    /* justify-content: end;  */
    /* justify-content: center;  */
    /* justify-content: space-evenly; */
    border: 12px solid rebeccapurple;
    /* height: 90vh; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap;  */
    flex-wrap: wrap-reverse;

}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
}
#box1{
    background-color: antiquewhite;
}
#box2{
    background-color: sandybrown;
}
#box3{
    background-color: blueviolet;
}
#box4{
    background-color: teal;
}